@use '../utils/variables' as v;
@use '../utils/mixins' as m;

/**** _footer.scss — Styles pour le footer ****/

.footer {
    background-color: v.$color-grey-800;

    &__container {
        display: flex;
        flex-direction: column;
        padding: v.$size-12 v.$size-10;
        color: v.$color-white;
    }

    .logo {
        margin-bottom: v.$size-10;
    }

    &__nav-groups {
        display: flex;
        flex-direction: column;
        gap: v.$size-4;
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: v.$size-4;

        font-weight: 500;
    }

    &__links--weight {
        font-weight: 400;
    }

    &__icon {
        margin-right: v.$size-3;
    }

    @include m.desktop {

        &__container {
        height: 114px;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 90px;
        padding: v.$size-12 68px;
        }

        .logo {
        margin-bottom: 0;
        order: 2;
        }

        &__nav-groups {
            flex-direction: row;
            gap: v.$size-24;
            order: 1;
        }

        &__links {
            display: flex;
            flex-direction: row;
            gap: v.$size-8;
        }
    }
}