@use '../utils/variables' as v;
@use '../utils/mixins' as m;

/**** _footer.scss — Styles pour le footer ****/

.footer {
    display: flex;
    flex-direction: column;
    background-color: v.$color-grey-800;
    padding: v.$space-xl v.$space-lg;
    color: v.$color-white;

    .logo {
        margin-bottom: v.$space-lg;
    }
    
    a {
        font-weight: 400;
    }

    &__nav-groups {
        display: flex;
        flex-direction: column;
        gap: v.$space-sm;
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: v.$space-sm;
    }

    &__icon {
        margin-right: v.$space-xsm;
    }

    @include m.desktop {
        height: 114px;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 90px;
        padding: v.$space-xl 68px;

        .logo {
        margin-bottom: 0;
        order: 2;
        }

        &__nav-groups {
            flex-direction: row;
            gap: v.$space-6xl;
            order: 1;
        }

        &__links {
            display: flex;
            flex-direction: row;
            gap: v.$space-base;
        }
    }
}