@use '../utils/variables';

/**** _footer.scss — Styles pour le footer ****/

.footer {
    display: flex;
    flex-direction: column;
    background-color: variables.$color-grey-800;
    padding: variables.$space-xl variables.$space-lg;
    color: variables.$color-white;

    .logo {
        margin-bottom: variables.$space-lg;
    }
    
    a {
        font-weight: 400;
    }

    &__nav-groups {
        display: flex;
        flex-direction: column;
        gap: variables.$space-sm;
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: variables.$space-sm;
    }

    &__icon {
        margin-right: variables.$space-xsm;
    }
}