@use '../utils/variables' as v;
@use '../utils/mixins' as m;

/**** _header.scss — Styles pour le header ****/

.header {
    position: relative;
    z-index: 10;
    
    box-shadow: 0 v.$size-1 v.$size-2 rgba(0, 0, 0, 0.15);

    &__container {
        @include m.flex-center;
        height: (v.$size-31 + v.$size-one);
    }

    &__icon {
        position: absolute;
        left: v.$size-8;
        top: 50%;

        transform: translateY(-50%);
    }

    @include m.tablet {
        &__container {
            height: 6rem; // 96px
        }
    }

    @include m.desktop {
        box-shadow: none;
    }
}