@use '../utils/variables' as v;
@use '../utils/mixins' as m;

/**** _header.scss — Styles pour le header ****/

.header {
    position: relative;
    z-index: 10;
    
    box-shadow: 0 v.$size-1 v.$size-2 rgba(0, 0, 0, 0.15);

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.9375rem;
    }

    &__icon {
        position: absolute;
        left: v.$size-8;
        top: 50%;

        transform: translateY(-50%);
    }

    @include m.tablet {
        &__container {
            height: 6rem;
        }
    }

    @include m.desktop {
        box-shadow: none;
    }
}