@use '../utils/variables' as v;
@use '../utils/mixins' as m;

/**** _logo.scss — Styles du logo ****/

.logo {

  font-weight: 400;

  &__text {
    display: inline-block;
    line-height: 1;
  }

  &__image {
    display: none;
    max-width: 100%;
    height: auto;
  }

  // Modifier si on veut utiliser une image à la place du texte
  &--use-image {
    & .logo__text {
        display: none;
    }
    & .logo__image {
        display: inline-block;
    }
  }

  // Modificateur pour le logo dans le header (h1)
  &--header {
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'Shrikhand', cursive;
    font-size: v.$size-15;
    color: v.$color-black;

    @include m.tablet {
      font-size: v.$size-17;
    }

    &.logo--use-image .logo__image {
        max-width: 162px;
        height: auto;
    }
  }

  // Modificateur pour le logo dans le footer (h2)
  &--footer {
    font-family: 'Shrikhand', cursive;
    font-size: v.$size-8;
    color: v.$color-white;

    &.logo--use-image .logo__image {
        max-width: 6.125rem;  // 98px
        height: auto;
    }
  }
}