@use '../utils/variables' as v;
@use '../utils/mixins' as m;

/**** _logo.scss — Styles du logo ****/

.logo {

    font-weight: 400;

    &__text {
        display: inline-block;
        line-height: 1;
    }

    &__image {
        display: none;      // Par défaut, l’image du logo est cachée (on montre le texte)
        max-width: 100%;
        height: auto;
    }

    // Modificateur pour utiliser une image à la place du text
    &--use-image {
        & .logo__text {
            display: none;          // Cache le texte du logo
        }
        & .logo__image {
            display: inline-block;  // Affiche l’image du logo
        }
    }

    // Modificateur pour le logo affiché dans le header (balise h1)
    &--header {
        display: flex;
        align-items: center;

        height: 100%;
        font-family: v.$font-title;
        font-size: v.$size-15;
        color: v.$color-black;
        text-align: center;

        @include m.tablet {
        font-size: v.$size-17;
        }

        &.logo--use-image .logo__image {
            max-width: v.$header-logo-img-width-max;
            height: auto;
        }
    }

    // Modificateur pour le logo dans le footer (balise h2)
    &--footer {
        font-family: v.$font-title;
        font-size: v.$size-8;
        color: v.$color-white;

        &.logo--use-image .logo__image {
            max-width: v.$footer-logo-img-width-max;
            height: auto;
        }
    }
}