@use '../utils/variables' as v;
@use '../utils/mixins' as m;

/**** _base.scss — Styles globaux de base ****/

/* Réinitialisation minimale des styles */

/* box-sizing: border-box à tous les éléments et pseudo-éléments ::before et ::after. 
   Cela facilite la gestion des tailles. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* On supprime les marges et les paddings par défaut 
   sur les éléments courants pour éviter les décalages inattendus. */
body,
h1, h2, h3, h4, h5, h6,
p, ul, ol, figure, hr {
  margin: 0;
  padding: 0;
}

/* On supprime les puces des listes non ordonnées et ordonnées. */
ul,
ol {
  list-style: none;
}

/* Les images prennent au maximum la largeur du conteneur 
   et conservent leurs proportions. */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Les liens prennent la couleur du texte environnant. */
a {
  color: inherit;
  text-decoration: none;
}

/* Styles typographiques globaux */

html {
  font-size: 100%;  // 16px par défaut
  font-family: v.$font-main;
  color: v.$color-black;  // texte principal
  line-height: 1.2;
}

body {
  min-width: 22.5rem; // 360px
  font-weight: 400;
  -webkit-font-smoothing: antialiased;  // Rendu plus net et léger sur Safari/Chrome (macOS)
  -moz-osx-font-smoothing: grayscale;   // Lissage en niveaux de gris sur Firefox (macOS)
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-weight: 400;
  font-family: v.$font-title;
  font-size: v.$size-14;
}

h2 {
  font-size: v.$size-12;
}

h3 {
  font-size: v.$size-9;
}

p {
  font-size: v.$size-8;
}

/* autres règles de base ici */

body {
  background-color: v.$color-white;
}

.container {
  max-width: 90rem; // 1440px
  margin: 0 auto;
}

:focus-visible {
  @include m.focus-style;
}