@use '../utils/variables' as v;

/**** _home.scss — Styles de la page home ****/

/*localisation*/
.location {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: v.$color-grey-200;
    height: 50px;
    gap: 17px;
    color: v.$color-grey-800;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    &__text {
        font-weight: 500;
    }
}

/*hero*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: v.$color-grey-100;
    text-align: center;
    padding: 38px v.$space-3xl;
    
    &__title {
        text-align: center;
        padding: 0 v.$space-xl;
        margin-bottom: v.$space-md;
    }

    &__subtitle {
        text-align: center;
        font-size: v.$font-size-lg;
        margin-bottom: v.$space-3xl;
        font-weight: 300;
    }

    &__btn {
        margin-bottom: v.$space-base;
    }
}

/*Fonctionnement*/
.process {
    display: flex;
    flex-direction: column;
    padding: v.$space-6xl v.$space-lg;

    &__title {
        margin-bottom: v.$space-2xl;
    }

    &__steps {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(288px,1fr));
        gap: v.$space-xl;
        margin-bottom: v.$space-lg;
    }

    &__step {
        display: flex;
        align-items: center;
    }

    &__step-number{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: v.$space-xl;
        height: v.$space-xl;
        background-color: v.$color-purple;
        border-radius: 50%;
        color: v.$color-white;
        font-size: v.$font-size-sm;
        line-height: 1;
        position: relative;
        z-index: 2;
        margin-right: -12px;

    }

    &__step-content {
        display: flex;
        width: 100%;
        gap: v.$space-lg;
        background-color: v.$color-grey-100;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        border-radius: v.$radius-lg;
        padding: v.$space-2xl v.$space-2xl;
    }

    &__step-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: v.$space-lg;
        height: v.$space-lg;
    }

    &__step-icon {
        color: v.$color-grey-400;
        // font-size: v.$space-lg;
    }

    &__step-text {
        font-weight: 500;
    }

    &__step--restaurant {
        .process__step-icon {
            color: v.$color-purple;
    }
    }
}

/*Restaurants*/
.restaurants {
    display: flex;
    flex-direction: column;
    background-color: v.$color-grey-100;
    padding: v.$space-6xl v.$space-lg;

    &__title {
        margin-bottom: v.$space-2xl;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        margin-bottom: v.$space-lg;
        gap: v.$space-lg;
    }

}

.restaurant-card {

    position: relative;

    &__link {
        display: block;
        border-radius: v.$radius-md;
        overflow: hidden;
        position: relative;
        background-color: v.$color-white;
        text-decoration: none;
        color: inherit;
    }

    &__img {
        display: block;
        width: 100%;
        height: 174px;
        object-fit: cover;
    }

    &__badge {
        position: absolute;
        top: v.$space-md;
        right: v.$space-md;
        background-color: v.$color-mint;
        font-size: v.$font-size-sm;
        font-weight: 500;
        padding: v.$space-xsm v.$space-md;
        border-radius: v.$radius-xs;
        color: v.$color-green;
        z-index: 1;
    }

    &__content {
        padding: v.$space-base v.$space-md;
    }

    &__location {
        font-size: 17px;
        font-weight: 300;
    }

    .heart {
    position: absolute;
    bottom: v.$space-3xl;
    right: v.$space-xl;
  }

}