@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.page-restaurants {

    // header
    .header {
        box-shadow: none;
    }

    .hero-plate {
        position: relative;

        height: v.$hero-plate-height-mobile;

        @include m.tablet {
            height: v.$hero-plate-height-tablet;
        }
  
        &__photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center 58%;

            @include m.desktop {
                box-shadow: none; // plus d'ombre sur desktop
            }
        }

    }

    .menu {
        max-width: v.$menu-width-max;
        margin-inline: auto;

        &__container {
            position: relative;
            z-index: 10;
            overflow: hidden;

            display: flex;
            flex-direction: column;
            gap: v.$size-16;

            margin-top: v.$menu-margin-top-mobile;
            padding: v.$size-18 v.$size-7;

            background-color: v.$color-grey-100;
            border-radius: v.$menu-radius; 

            @include m.tablet {
                gap: v.$size-22;

                margin-top: v.$menu-margin-top-tablet; 
                padding: v.$size-28 0 v.$size-18 0;
            }
        }

        &__title-group{
            position: relative;

            display: flex;
            justify-content: space-between;
            align-items: center;


            @include m.tablet {
                max-width: 60%;

                margin: auto;
            }

            .heart {
                position: absolute;
                top: v.$size-1;
                right: v.$size-12;

                @include m.tablet {
                    position: static;
                    top: auto;
                    right: auto;

                    margin-left: v.$size-17;
                }
            }
        }

        @include m.tablet {
            &__category {
                width: 60%;
                margin-inline: auto;
            }
        }

        &__subtitle {
            margin-bottom: v.$size-3;

            font-size: v.$size-8;
            font-weight: 300;
            line-height: 1;
        }

        &__separator {
            height: v.$separator-height;
            width: v.$separator-width;

            margin-bottom: v.$size-6;

            background-color: v.$color-mint;
            border: none;
        }

        &__cards {
            display: flex;
            flex-direction: column;
            gap: v.$size-6;

            margin-bottom: v.$size-4;
        }

        // Classes delay pour animation en cascade de slideBounce et slideBounceTablet
        .delay-1 { animation-delay: 0.2s; }
        .delay-2 { animation-delay: 0.4s; }
        .delay-3 { animation-delay: 0.6s; }
        .delay-4 { animation-delay: 0.8s; }

        &__card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: v.$menu-card-height-min;
            height: auto;
            overflow: hidden;

            background-color: v.$color-white;
            border-radius: v.$card-radius;
            box-shadow: v.$shadow-menu-card;

            // Par défaut (mobile) : slideBounce
            will-change: transform, opacity; // Optimisation pour l’animation
            opacity: 0;
            transform: translateX(-100%);
            animation: slideBounce 0.8s ease-in-out forwards;

            &:hover,
            &:focus-visible {
              .menu__card-select {
                margin-right: 0;
              } 
            }

            @include m.tablet {
            animation-name: slideBounceTablet;
            }

            &-texts {
                display: flex;
                flex-direction: column;
                gap: v.$size-2;
                min-width: 0;
                flex-grow: 1;

                margin: (v.$size-6 + v.$size-one) v.$size-2 (v.$size-6 + v.$size-one) v.$size-8 ;
            }

             &-title {
                overflow: hidden;
                min-width: 0;

                font-size: v.$size-9;
                font-weight: 500;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            &-desc {
                overflow: hidden;
                min-width: 0;

                font-size: (v.$size-7 + v.$size-one);
                font-weight: 300;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            &-price {
                display: flex;
                flex-shrink: 0;

                margin: auto v.$size-8 v.$size-6 0;

                font-size: (v.$size-7 + v.$size-one);
                font-weight: 700;
            }

            &-select {
                @include m.flex-center;
                align-self: stretch;
                flex-shrink: 0;
                width: v.$card-select-width;

                margin-right: v.$card-select-margin-right;

                color: v.$color-white;

                background-color: v.$color-mint;
                
                transition: margin-right 0.5s ease;
            }

        }

        .btn {
            align-self: center;
        }   
    }
}

@keyframes slideBounce {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    20% {
        transform: translateX(16px);
        opacity: 1;
    }
    40% {
        transform: translateX(-8px);
    }
    60% {
        transform: translateX(4px);
    }
    80% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideBounceTablet {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    20% {
        transform: translateX(50px);
        opacity: 1;
    }
    40% {
        transform: translateX(-25px);
    }
    60% {
        transform: translateX(12px);
    }
    80% {
        transform: translateX(-6px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}