@use '../utils/variables' as v;

/// Centre un conteneur en flexbox (horizontal + vertical)
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/// Style focus accessible
@mixin focus-style($apply-radius: false) {
    outline: v.$focus-visible-outline solid v.$color-pink;
    outline-offset: v.$focus-visible-offset;

    @if $apply-radius {
    border-radius: v.$focus-visible-radius;
    transition: 
      outline 0.2s ease-in-out,
      outline-offset 0.2s ease-in-out,
      border-radius 0.2s ease-in-out;
  } @else {
    transition: 
      outline 0.2s ease-in-out,
      outline-offset 0.2s ease-in-out;
  }
}

/// Media query tablette (min-width: 768px)
@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}


/// Media query desktop (min-width: 1024px)
@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}