@use '../utils/variables' as v;

/// Centre un conteneur en flexbox (horizontal + vertical)
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/// Style focus accessible
@mixin focus-style {
    outline: v.$size-1 solid v.$color-pink;
    outline-offset: v.$size-2;
    border-radius: v.$size-2;
    transition: 
        outline 0.2s ease-in-out,
        outline-offset 0.2s ease-in-out,
        border-radius 0.2s ease-in-out;
}

/// Media query tablette (min-width: 768px)
@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}


/// Media query desktop (min-width: 1024px)
@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}