/**** variables.scss —  ****/

// == Couleurs ===================

$color-white:    #FFFFFF;   // Fond général, texte boutons, texte footer.
$color-black:    #000000;   // Texte principal (titres, paragraphes).
$color-grey-100: #F6F6F6;   // Fond section hero et restaurants, tuile section process.
$color-grey-200: #EAEAEA;   // Fond section localisation.
$color-grey-400: #7E7E7E;   // Icône section process.
$color-grey-800: #353535;   // Fond footer, Texte localisation.

$color-mint:     #99E2D0;   // Fond badges "nouveau", HR, vignette sélection.
$color-green:    #008766;   // Texte dans les badges "nouveau".
$color-lightblue:#89C8FA;   // Couleur pas encore trouvée précisément.
$color-darkblue: #003A68;   // Couleur pas encore trouvée précisément.
$color-purple:   #9356DC;   // Couleur dégradé bouton et coeur actif, badges numérotés.
$color-pink:     #FF79DA;   // Deuxième couleur du dégradé bouton, coeur actif.

// == Typographie ================

$font-main:  'roboto', sans-serif;
$font-title: 'Shrikhand', cursive;

// == Tailles de texte (rem)======

$font-size-sm:      0.875rem;   // ~14px
$font-size-base:    1rem;       // 16px
$font-size-lg:      1.125rem;   // 18px
$font-size-xl:      1.5rem;     // 24px
$font-size-xxl:     1.75rem;    // 28px
$font-size-xxxl:    1.875rem;   // 30px
$font-size-4xL:     2.125rem;   // 34px
$font-size-5xL:     2.5rem;     // 40px

// == Espacements (rem) (EC)======

$space-xs:    0.25rem;  // 4px
$space-xsm:   0.375rem; // 6px
$space-sm:    0.5rem;   // 8px
$space-md:    0.75rem;  // 12px
$space-base:  1rem;     // 16px
$space-lg:    1.25rem;  // 20px
$space-xl:    1.5rem;   // 24px
$space-2xl:   1.75rem;  // 28px
$space-2_5xl: 1.875rem; // 30px
$space-3xl:   2rem;     // 32px
$space-4xl:   2.25rem;  // 36px
$space-5xl:   2.5rem;   // 40px
$space-6xl:   3rem;     // 48px


// == Breakpoints ================

$breakpoint-mobile:  480px;
$breakpoint-tablet:  768px;
$breakpoint-desktop: 1024px;
$breakpoint-large:   1440px;

// == Rayons bordure ================
$radius-xs: 0.125rem;   //2px
$radius-md: 0.9375rem; //15px
$radius-lg: 1.25rem;   //20px
$radius-xl: 1.5625rem; //25px

// à voir (Durées / transitions)